
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-section {
    background-image: url(Pinot\ Noir.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    min-height: 100vh;
}

.child-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.parent {
    width: 800px;
    height: 580px;
    border: 2px solid rgb(237, 150, 10);
    border-radius: 15px;
    display: flex;
    background-image: url(Brady\ Brady\ Fun\ Fun.jpg);
    background-blend-mode: overlay;
    background-color: rgba(2, 1, 1, 0.4);
    background-size: cover;
    box-shadow: 10px 10px 20px rgb(208, 31, 181), -10px -10px 20px rgb(208, 31, 181);
}

#img {
    width: 400px;
    border: 1px;
    border-radius: 14px;
    background-image: url(cartoon.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(2, 1, 1, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-3 {
    font-weight: bold;
    font-size: 2.5rem;
    background: linear-gradient(rgb(18, 15, 171), rgb(42, 224, 151), rgb(201, 195, 15), rgb(54, 207, 77));
    color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}

.form-details {
    flex-grow: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 500px;
}

.input {
    background-color: moccasin !important;
}

.form-floating {
    flex-shrink: 0;
}

.text-danger {
    margin-top: 5px;
}


.form-details::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.form-details {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
}